<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahul.technicial_side_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookingActivity"></activity>
        <activity android:name=".QRCode" />
        <activity
            android:name=".RequestActivity"
            android:parentActivityName=".HomePage" />
        <activity android:name=".TechniciansRegister" />
        <activity android:name=".SpinnerData" />
        <activity android:name=".CreateClient" />
        <activity android:name=".ScanActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKrObWSq1_SI_Abkr71Rdo3pKx29KJGJM" />

        <activity
            android:name=".LoginPage"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".duty_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".start_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Summary_page" />
        <activity android:name=".previousBooking" />
    </application>

</manifest>